# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

/cache-server/target/
/spring-rest-ehcache/target/
/cache-rest-ehcache/target/
/cache-client/target/