# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
# Class Files #
*.class

# Package Files #
!/cache-rest-standalone-ehcache/ehcache.war
*.jar
*.war
*.ear

/server/target/
/spring-rest-ehcache/target/
/cache-rest-ehcache/target/
/cache-client/target/
/spring-rest-memcached/target/
/cache-rest-memcached/target/
/cache-rest-standalone-ehcache/ehcache-decorator/target/

